In [18]:
from pathlib import Path
import pandas as pd
import numpy as np
import os

pd.set_option("mode.copy_on_write", True)

repo_root = Path("../..")
# source files
src_folder = repo_root / "00_source_data" / "mortality_data"

# output file
out_file = repo_root / "20_intermediate_file" / "overdose_03-15.tsv"

In [19]:
df_list = [pd.read_csv(p, sep="\t") for p in src_folder.glob("*")]
df = pd.concat(df_list)
df

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,408.0
1,NaN,"Baldwin County, AL",1003.0,2009.0,2009.0,Drug poisonings (overdose) Unintentional (X40-...,D1,29.0
2,NaN,"Baldwin County, AL",1003.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,1669.0
3,NaN,"Barbour County, AL",1005.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,299.0
4,NaN,"Bibb County, AL",1007.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,207.0
...,...,...,...,...,...,...,...,...
4604,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4605,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4606,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4607,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4608,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
causes = df[
    ["Drug/Alcohol Induced Cause", "Drug/Alcohol Induced Cause Code"]
].value_counts()
causes

Drug/Alcohol Induced Cause                          Drug/Alcohol Induced Cause Code
All other non-drug and non-alcohol causes           O9                                 40337
Drug poisonings (overdose) Unintentional (X40-X44)  D1                                  7573
All other alcohol-induced causes                    A9                                  6123
Drug poisonings (overdose) Suicide (X60-X64)        D2                                  1465
Drug poisonings (overdose) Undetermined (Y10-Y14)   D4                                   761
All other drug-induced causes                       D9                                   628
Alcohol poisonings (overdose) (X45, X65, Y15)       A1                                   349
Drug poisonings (overdose) Homicide (X85)           D3                                     5
Name: count, dtype: int64

In [21]:
overdoses = ["D1", "D2", "D3", "D4"]

In [22]:
df.County.nunique(), df[
    df["Drug/Alcohol Induced Cause Code"].isin(overdoses)
].County.nunique()

(3132, 1047)

In [23]:
df[df["Deaths"].isna()]

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
4364,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4365,"Dataset: Underlying Cause of Death, 1999-2017",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4366,Query Parameters:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4367,Group By: County; Year; Drug/Alcohol Induced C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4368,Show Totals: Disabled,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4604,Suggested Citation: Centers for Disease Contro...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4605,"1999-2017 on CDC WONDER Online Database, relea...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4606,compiled from data provided by the 57 vital st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4607,at http://wonder.cdc.gov/ucd-icd10.html on Oct...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4608,---,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# check that all these entries are notes
assert (df["Notes"].notna() == df["Deaths"].isna()).all()

In [25]:
clean_df = df[df["Notes"].isna()]
clean_df

,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths
0,NaN,"Autauga County, AL",1001.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,408.0
1,NaN,"Baldwin County, AL",1003.0,2009.0,2009.0,Drug poisonings (overdose) Unintentional (X40-...,D1,29.0
2,NaN,"Baldwin County, AL",1003.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,1669.0
3,NaN,"Barbour County, AL",1005.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,299.0
4,NaN,"Bibb County, AL",1007.0,2009.0,2009.0,All other non-drug and non-alcohol causes,O9,207.0
...,...,...,...,...,...,...,...,...
4589,NaN,"Sweetwater County, WY",56037.0,2013.0,2013.0,All other non-drug and non-alcohol causes,O9,238.0
4590,NaN,"Teton County, WY",56039.0,2013.0,2013.0,All other non-drug and non-alcohol causes,O9,83.0
4591,NaN,"Uinta County, WY",56041.0,2013.0,2013.0,All other non-drug and non-alcohol causes,O9,130.0
4592,NaN,"Washakie County, WY",56043.0,2013.0,2013.0,All other non-drug and non-alcohol causes,O9,72.0
4593,NaN,"Weston County, WY",56045.0,2013.0,2013.0,All other non-drug and non-alcohol causes,O9,66.0

In [26]:
clean_df.drop(
    inplace=True, columns=["Notes", "Year Code", "Drug/Alcohol Induced Cause"]
)
clean_df

,County,County Code,Year,Drug/Alcohol Induced Cause Code,Deaths
0,"Autauga County, AL",1001.0,2009.0,O9,408.0
1,"Baldwin County, AL",1003.0,2009.0,D1,29.0
2,"Baldwin County, AL",1003.0,2009.0,O9,1669.0
3,"Barbour County, AL",1005.0,2009.0,O9,299.0
4,"Bibb County, AL",1007.0,2009.0,O9,207.0
...,...,...,...,...,...
4589,"Sweetwater County, WY",56037.0,2013.0,O9,238.0
4590,"Teton County, WY",56039.0,2013.0,O9,83.0
4591,"Uinta County, WY",56041.0,2013.0,O9,130.0
4592,"Washakie County, WY",56043.0,2013.0,O9,72.0
4593,"Weston County, WY",56045.0,2013.0,O9,66.0

In [27]:
clean_df[clean_df["Drug/Alcohol Induced Cause Code"].isin(overdoses)]

,County,County Code,Year,Drug/Alcohol Induced Cause Code,Deaths
1,"Baldwin County, AL",1003.0,2009.0,D1,29.0
8,"Calhoun County, AL",1015.0,2009.0,D1,12.0
28,"Escambia County, AL",1053.0,2009.0,D4,10.0
30,"Etowah County, AL",1055.0,2009.0,D1,14.0
38,"Houston County, AL",1069.0,2009.0,D1,10.0
...,...,...,...,...,...
4552,"Washington County, WI",55131.0,2013.0,D1,19.0
4555,"Waukesha County, WI",55133.0,2013.0,D1,39.0
4561,"Winnebago County, WI",55139.0,2013.0,D1,14.0
4576,"Laramie County, WY",56021.0,2013.0,D1,15.0
4580,"Natrona County, WY",56025.0,2013.0,D1,14.0

In [28]:
clean_df = clean_df[clean_df["Drug/Alcohol Induced Cause Code"].isin(overdoses)]
clean_df["County Code"] = clean_df["County Code"].astype(int)
clean_df["Year"] = clean_df["Year"].astype(int)
clean_df

,County,County Code,Year,Drug/Alcohol Induced Cause Code,Deaths
1,"Baldwin County, AL",1003,2009,D1,29.0
8,"Calhoun County, AL",1015,2009,D1,12.0
28,"Escambia County, AL",1053,2009,D4,10.0
30,"Etowah County, AL",1055,2009,D1,14.0
38,"Houston County, AL",1069,2009,D1,10.0
...,...,...,...,...,...
4552,"Washington County, WI",55131,2013,D1,19.0
4555,"Waukesha County, WI",55133,2013,D1,39.0
4561,"Winnebago County, WI",55139,2013,D1,14.0
4576,"Laramie County, WY",56021,2013,D1,15.0
4580,"Natrona County, WY",56025,2013,D1,14.0

In [29]:
death_values = clean_df["Deaths"].unique().astype(str)

In [30]:
death_values.sort()
death_values

array(['10', '10.0', '100', '100.0', '101', '101.0', '102', '102.0',
       '103', '103.0', '104', '104.0', '105', '105.0', '106', '106.0',
       '107', '107.0', '108', '108.0', '109', '109.0', '11', '11.0',
       '110', '110.0', '111.0', '112.0', '113.0', '114', '114.0', '115',
       '115.0', '116', '116.0', '117.0', '118', '118.0', '119', '119.0',
       '12', '12.0', '120.0', '121.0', '122.0', '123.0', '124', '124.0',
       '125', '125.0', '126', '126.0', '127', '127.0', '128.0', '129.0',
       '13', '13.0', '130', '130.0', '131.0', '132', '132.0', '133.0',
       '134.0', '135.0', '136.0', '137', '137.0', '138', '138.0', '139',
       '139.0', '14', '14.0', '140', '140.0', '141.0', '142', '142.0',
       '143', '143.0', '144.0', '145.0', '146', '146.0', '147.0', '148',
       '148.0', '149.0', '15', '15.0', '150.0', '151.0', '152', '152.0',
       '153.0', '154', '154.0', '155', '155.0', '156', '156.0', '157',
       '157.0', '158.0', '159.0', '16', '16.0', '160.0', '161', '161.0',
       '162.0', '163.0', '164.0', '165', '165.0', '167.0', '168', '168.0',
       '169', '169.0', '17', '17.0', '170', '170.0', '171.0', '172.0',
       '173', '173.0', '174.0', '175.0', '176', '176.0', '177', '178.0',
       '179', '179.0', '18', '18.0', '180.0', '181.0', '182.0', '183',
       '183.0', '184', '184.0', '186', '186.0', '187', '188.0', '189',
       '189.0', '19', '19.0', '190.0', '191.0', '192', '192.0', '193.0',
       '194', '194.0', '195', '195.0', '196', '196.0', '197.0', '198.0',
       '199.0', '20', '20.0', '200.0', '201.0', '202.0', '203.0', '205.0',
       '206.0', '207', '208.0', '209.0', '21', '21.0', '211.0', '212.0',
       '213', '213.0', '214.0', '215.0', '216.0', '217', '218.0', '22',
       '22.0', '220.0', '221', '222.0', '223.0', '224.0', '225.0',
       '226.0', '227.0', '228.0', '229.0', '23', '23.0', '230.0', '231.0',
       '232', '234.0', '236.0', '237.0', '238', '238.0', '239.0', '24',
       '24.0', '240', '240.0', '241', '241.0', '242.0', '244.0', '245.0',
       '248.0', '249.0', '25', '25.0', '251.0', '252', '253.0', '255.0',
       '256', '258.0', '26', '26.0', '262.0', '263', '266.0', '267.0',
       '269.0', '27', '27.0', '270.0', '271.0', '273.0', '276.0', '277',
       '277.0', '28', '28.0', '282', '285.0', '286.0', '287.0', '288.0',
       '289.0', '29', '29.0', '290.0', '293.0', '295', '295.0', '297.0',
       '299', '30', '30.0', '306.0', '307', '31', '31.0', '315.0', '32',
       '32.0', '320.0', '325.0', '326.0', '329.0', '33', '33.0', '330.0',
       '331.0', '332.0', '335.0', '336', '34', '34.0', '340', '343.0',
       '345.0', '346.0', '347.0', '348.0', '35', '35.0', '351.0', '353.0',
       '356.0', '357.0', '36', '36.0', '37', '37.0', '370.0', '371',
       '375.0', '378.0', '379.0', '38', '38.0', '39', '39.0', '398',
       '399.0', '40', '40.0', '400.0', '404.0', '407', '408.0', '41',
       '41.0', '410.0', '411.0', '42', '42.0', '424.0', '425.0', '43',
       '43.0', '432.0', '436.0', '439.0', '44', '44.0', '446.0', '45',
       '45.0', '450.0', '456.0', '459.0', '46', '46.0', '462.0', '468.0',
       '469.0', '47', '47.0', '472.0', '473.0', '48', '48.0', '485.0',
       '49', '49.0', '50', '50.0', '51', '51.0', '52', '52.0', '523.0',
       '525.0', '53', '53.0', '538.0', '539', '54', '54.0', '542.0',
       '543.0', '545.0', '549', '55', '55.0', '552.0', '56', '56.0',
       '561.0', '563.0', '566.0', '57', '57.0', '572', '572.0', '58',
       '58.0', '59', '59.0', '60', '60.0', '61', '61.0', '616.0', '62',
       '62.0', '621.0', '624', '627.0', '63', '63.0', '636.0', '64',
       '64.0', '645', '65', '65.0', '66', '66.0', '67', '67.0', '68.0',
       '683.0', '69.0', '70', '70.0', '705.0', '71', '71.0', '72', '72.0',
       '73', '73.0', '74', '74.0', '75', '75.0', '76', '76.0', '77.0',
       '78', '78.0', '79', '79.0', '80', '80.0', '81', '81.0', '82',
       '82.0', '83', '83.0', '84', '84.0', '85', '85.0', '86', '86.0',
       '87', '87.0', '88', '88.0', '89', '89.0', '90', '90.0', '91',
       '91.0', '92.0', '93', '93.0', '94', '94.0', '95', '95.0', '96',
       '96.0', '97', '97.0', '98', '98.0', '99.0', 'Missing'], dtype='<U7')

In [31]:
clean_df = clean_df[clean_df["Deaths"] != "Missing"]
clean_df["Deaths"] = clean_df["Deaths"].astype(int)
clean_df.drop(inplace=True, columns="Drug/Alcohol Induced Cause Code")
clean_df

                     County  County Code  Year  Deaths
1        Baldwin County, AL         1003  2009      29
8        Calhoun County, AL         1015  2009      12
28      Escambia County, AL         1053  2009      10
30        Etowah County, AL         1055  2009      14
38       Houston County, AL         1069  2009      10
...                     ...          ...   ...     ...
4552  Washington County, WI        55131  2013      19
4555    Waukesha County, WI        55133  2013      39
4561   Winnebago County, WI        55139  2013      14
4576     Laramie County, WY        56021  2013      15
4580     Natrona County, WY        56025  2013      14

[9784 rows x 4 columns]

In [32]:
clean_df.rename(inplace=True, columns={"County Code": "FIPS"})
# Remove Alaska
clean_df = clean_df[clean_df["FIPS"] // 1000 != 2]
clean_df = clean_df.groupby(["FIPS", "County", "Year"], as_index=False).sum()
clean_df

       FIPS                 County  Year  Deaths
0      1003     Baldwin County, AL  2003      10
1      1003     Baldwin County, AL  2004      18
2      1003     Baldwin County, AL  2005      14
3      1003     Baldwin County, AL  2006      11
4      1003     Baldwin County, AL  2007      24
...     ...                    ...   ...     ...
7850  56025     Natrona County, WY  2012      12
7851  56025     Natrona County, WY  2013      14
7852  56025     Natrona County, WY  2014      17
7853  56025     Natrona County, WY  2015      13
7854  56037  Sweetwater County, WY  2014      13

[7855 rows x 4 columns]

In [33]:
clean_df.FIPS.nunique()

1038

In [34]:
clean_df.to_csv(out_file, index=False, sep="\t")